-e git+ssh://git@github.com/percebus/algorithmic-exercises.git@5cc1737ab4424111931ea2f5a4c43e4353c90568#egg=algorithmic_exercises
annotated-types==0.8.0
argcomplete==3.7.2
ast_serialize==0.8.0
astroid==4.0.4
click==8.5.0
colorama==0.4.6
coverage==7.16.0
dill==0.4.1
docutils==0.23
filelock==3.32.4
flake8==7.3.0
gherkin-official==29.0.0
gil==1.25.0.0
iniconfig==2.3.0
isort==9.0.1
lagom==2.7.7
librt==0.15.0
logger==1.4
logging==0.4.9.6
logging-config==1.0.4
Mako==1.4.1
MarkupSafe==3.0.3
mccabe==0.7.0
more-itertools==11.1.0
mypy==2.3.1
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pandas-stubs==3.0.5.260730
parse==1.22.1
parse_type==0.6.6
pathspec==1.1.1
pipx==1.16.7
platformdirs==4.11.5
pluggy==1.6.0
pycodestyle==2.14.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
pyflakes==3.4.0
Pygments==2.21.0
PyHamcrest==2.1.0
pylint==4.0.8
pyright==1.1.411
pytest==9.1.1
pytest-bdd==8.1.0
pytest-cov==7.1.0
pytest-doctestplus==1.7.1
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
rst2md==0.1.1
ruff==0.16.5
six==1.17.0
tomlkit==0.15.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
userpath==1.9.2
